SPRING_MAIL_HOST=smtp.mail.de
SPRING_MAIL_USERNAME=your-email@mail.de
SPRING_MAIL_PASSWORD=your-app-password
SPRING_MAIL_PORT=465
SPRING_MAIL_PROTOCOL=smtp

JWT_SECRET=your-very-long-secret-key-here
JWT_LIFETIME=3600
JWT_REFRESH_LIFETIME=2592000